@import '../_vars'

.intro-container
    border: 1px solid $clr-primary-800
    border-radius: .5rem

    max-width: 30rem

    &__image
        padding: $gap-700

    &__hr
        border: none
        border-top: 1px solid $clr-primary-800
        width: 100%

    &__menu-container
        padding: $gap-400

        text-align: center
        & > *+*
            margin-top: $gap-500

    &__headline
        font-size: 1.75rem
        font-weight: bold
        line-height: 2rem

    &__description
        font-size: .9rem
        margin-top: $gap-300

    &__status-container
        & > *+*
            margin-left: $gap-300

    &__status-dot
        width: .75rem
        cursor: pointer
        border-radius: 50%

        &__active
            filter: saturate(80)

    &__buttons-container
        &>*+*
            margin-left: $gap-300

@media screen and (max-width: 1024px) and (max-height: 600px)
    .intro-container
        &__image
            width: 80%
            padding: $gap-200
